# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: WIKI CI/CD

on:
  push:
    branches: [ "master" ]
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: '.bash'

    steps:
      - uses: actions/checkout@v3
      - run: file-format-checker.sh
